.root {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  display: inline-flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    opacity: 0.6;
  }
  & svg {
    position: absolute;
    left: -24px;
    z-index: -1;
  }
}
