.root {
  display: flex;
  background: #000;
  min-height: 100vh;
}

.layout {
  display: flex;
  padding: 2.8% 2.7%;
  width: 100%;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  padding: 0.15% 8% 0.15% 3.6%;
  position: relative;
  width: 100%;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.titleLayout {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  top: 16px;
  transform: rotate(90deg);
}

.title {
  margin: 0;
  color: #ffffff;
  font-family: 'Alegreya', sans-serif;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.userLayout {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 16px;
  top: 32px;
  transform: rotate(90deg);
}

.user {
  display: flex;
  align-items: flex-end;
  grid-gap: 16px;
  height: 52px;
  padding: 4px 16px;
  min-width: 472px;
  width: fit-content;
}

.userName {
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  line-height: 1;
  color: #aecfe0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
}

.userNickname {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 1.2;
  color: #aecfe0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
}

.badge {
  height: 20px;
  width: auto;
  margin-left: 16px;
}
