.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 12px;
}

.form {
  display: inline-flex;
  padding: 56px;
  border: 1px solid #01cbfd;
  transform: rotate(-45deg);
}

.rootError {
  border: 1px solid #ff0000;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 220px;
  height: 220px;
  background: #000;
  cursor: pointer;
}

.input {
  display: none;
}

.avatar {
  transform: rotate(45deg);
  position: absolute;
  top: -56px;
  left: -56px;
  width: calc(100% + 56px + 56px);
  height: calc(100% + 56px + 56px);
  object-fit: cover;
  object-position: center center;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  color: #ff0000;
}
