.result,
.exit,
.topbar {
  position: relative;
  z-index: 2;
}

.result {
  margin-top: 45px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.exit {
  margin-top: 50px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.approve-wrapper {
  position: relative;
  z-index: 2;
}

.approve-wrapper::before,
.approve-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(126, 255, 254, 0) 0%,
    rgba(126, 255, 254, 0.8) 50%,
    rgba(126, 255, 254, 0) 100%
  );
  z-index: -1;
}

.approve-wrapper::before {
  top: -2px;
}

.approve-wrapper::after {
  bottom: -2px;
}

.approve::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #008efe;
  filter: blur(40px);
  width: 290px;
  height: 275px;
}

.approve,
.approve-dark {
  width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.approve-dark::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000004;
  filter: blur(40px);
  width: 290px;
  height: 275px;
}

.approve span,
.approve-dark span {
  text-shadow: 2px 2px 2px #000;
}
