.bg {
  background-position: center;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  top: 0;

  & > a {
    position: absolute;
    bottom: 10%;
    right: 10%;
  }
}
