.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submit {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  opacity: 0.6;
}

.error {
  padding-left: 88px;
  color: #ff0000;
}
