.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper::after {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background-color: #adefff;
  filter: blur(11px);
  transform: rotate(45deg);
}
