.top {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 20px;
  z-index: 2;
  height: 150px;
}

.box img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-width: 100%;
}

.box input,
.box textarea {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  color: #b0f2ff;
  font-size: 18px;
  position: absolute;
  margin-left: 78px;
  top: 38px;
  width: calc(100% - 78px);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
  resize: none;
}

.box input {
  top: 38px;
  height: 26px;
}

.box textarea {
  top: -10px;
  height: 78px;
}

.box input::placeholder,
.box textarea::placeholder {
  color: white;
}

.about {
  margin-left: auto;
}

.date {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: rgba(60, 211, 252, 0.75);
  text-align: right;
}

.count,
.date {
  font-style: italic;
  font-weight: bold;
}

.count {
  letter-spacing: -2%;
  font-size: 18px;
}

.about {
  font-size: 14px;
}

.count {
  color: rgba(255, 255, 255, 0.75);
}
